body {
    font-family: 'Open Sans', sans-serif;
    /* adding background color to body to stand out from calendar container */
    background-color: #FAEBD7;
  }
  
  .jumbotron {
    text-align: center;
    background-color: #e28986;
    color: rgb(27, 21, 21);
    border-radius: 0;
    /* adding top border to jumbotron to match body background color */
    border-top: 10px solid #904f4d;
    /* changed bottom border color to stand out against body background color and jumbotron background color */
    border-bottom: 10px solid #904f4d;
  }
  
  /* Adding css for the date and time function (lines 31-64) */
  .clock {
    width: auto;
    margin: 0 auto;
    padding: 30px;
    color: rgb(27, 21, 21);background:#e28986;
    }
    .clock ul {
    width: 250px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center
    }
    
    .clock ul li {
    display: inline;
    font-size: 3em;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    text-shadow: 0 2px 5px whitesmoke, 0 3px 6px whitesmoke, 0 4px 7px whitesmoke
    }
    #Date { 
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    text-shadow: 0 2px 5px whitesmoke, 0 3px 6px whitesmoke;
    padding-bottom: 40px;
    }
    
    #point {
    position: relative;
    padding-left: 10px;
    padding-right: 10px
    }
    /* end of time and date css (lines 31-64)
  
  /* Beginning of monthly calendar in jumbotron */
  
    
  /* adding container css to stand out against body background color */
  .calendar-container {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
  }

  .row {
    border: 1px solid black;
    font-size: 26px;
  }

  .hour {
    background-color: #904f4d;
    color: whitesmoke;
    text-shadow: 0 2px 5px rgb(27, 21, 21), 0 3px 6px rgb(27, 21, 21);
    height: 75px;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: rgb(27, 21, 21);
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    padding: 10px;
  }

  .saveBtn {
    height: 75px;
    background-color: navy;
    color: whitesmoke;
    text-shadow: 0 2px 5px rgb(27, 21, 21), 0 3px 6px rgb(27, 21, 21);
  }

  .saveBtn:hover {
    background-color: green;
  }

  .present {
    background-color: #FAEBD7;
    color: solid black;
  }

  .future {
    background-color: greenyellow;
    color: solid black;
  }

  .past {
    background-color: rgb(211, 210, 210);
    color: solid black;
  }

  /* Need to add a wrapper to ensure screen size responsiveness
  /*
    These rules take effect when the browser's width
    is either 768px or less.
  */
  @media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: #333;
    }
    
      /* The wrapper's width will be 600px */
      .wrapper {
        width: 100%;
      }
    }